.content {
margin-left: auto;
margin-right: auto;
width: 100%;
}

.content-wrapper {
width: 700px;
height: 300px;
max-width: 90%;
margin: 0 auto;
line-height:2.2em;

}

.year {
text-align: center;
}

.blog-lists-date {
width: 130px;
float: left;
font-family: 'Tangerine', serif;
font-size:23px;
color:#FF7F50;
}

.blog-lists-title {
width: 540px;
float: right;
font-family: 'adelle', 'Georgia', serif;
font-size:23px;

}

a{
color: #4D4D4D ;
}

.content .content-wrapper .year{
font-family: 'adelle', 'Georgia', serif;
font-size:35px;
color:#BC8F8F;
}


.content .content-wrapper .blog-lists .blog-lists-title{
font-family: "source-serif-pro", "STSong", "SimSun", "Times New Roman", Times, serif;
}