.header-wrap {
width: 100%;
border-bottom: solid 1px #eee;
font-family: "source-serif-pro", "STSong", "SimSun", "Times New Roman", Times, serif;
}


.header-wrap .header {
padding-top:40px;
padding-bottom:40px;
overflow: hidden;
}

.header-wrap .header .logo {
width: 40%;
font-size: 1.2em;
color: black;
text-decoration: none;
transition:color 0.2s ease-in-out;
}
.header-wrap .header .logo:hover{
color:#FF8C69;
}

.header-wrap .header .links {
width: 60%;
text-align: right;
float: right;
font-size: 1.2em;
}

.header-wrap .header .links a {
margin: 0 0.8em;
color: black;
text-decoration: none;
transition:color 0.2s ease-in-out;
}

.header-wrap .header .links a:hover{
color:#FF8C69;
}

.center-container {
width: 660px;
max-width: 90%;
margin: 0 auto;
}

.content-wrapper {
width: 100%;
margin-left: auto;
margin-right: auto;
}

.content {
font-family: "source-serif-pro", "STSong", "SimSun", "Times New Roman", Times, serif;
width: 700px;
max-width: 90%;
margin: 0 auto;
padding-top: 40px;
font-size: 1.2em;
line-height: 1.5;
}

.title-wrapper {
width: 100%;
margin-left: auto;
margin-right: auto;
}

.title {
font-family: 'adelle', 'Georgia', "Kaiti SC", "KaiTi", serif;
width: 700px;
max-width: 90%;
margin: 0 auto;
padding-top: 40px;
font-size: 80px;
}

.time {
margin-top: 10px;
width: 700px;
margin-left: auto;
margin-right: auto;
color: #a9a9a9;
font-size:20px;
font-family: 'adelle', 'Georgia', serif;
}

h2 {
color: #F08080;
}

code {
font-family: Monaco, Andale Mono, Courier New, monospace;
font-size: 10px;

}

blockquote {
position: relative;
line-height: 1.2em;
background: #fffdf4;
padding: 0.1em 1.5em 0.1em 1.5em;
}

blockquote:before {
padding-top: 12px;
position: absolute;
top: 33px;
left: -35px;
content: "\201C";
font-size: 8em;
color: #FF7F24;
}

blockquote:p {
line-height: 1.8;
}


.eof {
margin-top: 80px;
text-align: center;
margin-bottom:80px;
font-family: 'Tangerine', serif;
font-size:25px;
color:#EEC900;
}

.info-wrapper {
width: 10px;
height:10px;
margin: 0 auto;
padding-top: 10px;

}

.comment_name {
height: 15px;
}

.comment-submit {
text-align: center;
margin-top: 30px;
margin-bottom: 100px;
}

.comment {
width:700px;
height:130px;
margin-left: auto;
margin-right: auto;
}

.comments {
width: 700px;
margin-left: auto;
margin-right: auto;
overflow:hidden;zoom:1;
margin-top:15px;
margin-bottom:15px;
}


.comments-wrapper {
width:100px;
height:100px;
float:left;
font-size:20px;
}
.user-image{
height:100%;
width:100%;
}

.comment_user_info{
width:580px;
height:20px;
float:right;

}
.comment_content{
width:580px;
height:70px;
float:right;
position:relative;
top:15px;
font-size:18px;
}

.make_comments{
width: 700px;
margin-left: auto;
margin-right: auto;
}
img{
max-width: 100%;
}

.comments .comment_user_info .user_name{
width:200px;
float:left;
font-size:22px;
font-family: Monaco, Andale Mono, Courier New, monospace;
}

.comments .comment_user_info .created_at{
width:350px;
float:right;
font-family: Monaco, Andale Mono, Courier New, monospace;
}


