<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>archive</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link href="/static/css/archive.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="content">
    {% for blog in blogs %}

    <div class="content-wrapper">

        <div class="year">
            {{blog[0].year}}
        </div>

        {% for b in blog %}
        <div class="blog-lists">
            <div class="blog-lists-date">
                {{b.created_at|datetime}}
            </div>
            <div class="blog-lists-title">
                <a href="/blog/{{b.id}}">{{b.name}}</a>
            </div>
        </div>
        {% endfor %}

    </div>

    {% endfor %}

</div>

</body>
</html>