<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{blog.name}}</title>
    <link href="/static/css/pygments.css" type="text/css" rel="stylesheet"/>
    <link href="/static/css/blog.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <style>


    </style>
</head>
<body>


<div class="header-wrap">
    <div class="header center-container">
        <a href="/" title="美乃滋酱の个人博客" class="logo">美乃滋酱の个人博客</a>

        <div class="links">
            <a href="/archive">archive</a>
            <a href="/blog/0014473261101972d31e0092c81454086e36d443a7673ea000">about</a>
            {% if session['admin']%}
            <a href="/write" target="_blank">write</a>
            {% else %}
            {% endif %}
        </div>

    </div>
</div>


<div class="title-wrapper">

    <div class="title">
        {{blog.name}}
    </div>

</div>


<div class="time">
    {{blog.created_at|datetime}}
</div>


<div class="content-wrapper">

    <div class="content">
        {{blog.html_content|safe}}
    </div>

    <div class="eof">
        ·EOF·
    </div>

</div>

{% for comment in comments %}
<div class="comments">
    <div class="comments-wrapper">
        <img class="user-image" src="{{ url_for('avatar', user_name=comment.user_name) }}">
    </div>

    <div class="comment_user_info">
        <div class="user_name">
            <span>{{comment.user_name}}</span>
        </div>
        <div class="created_at">
            <span>{{comment.created_at|detail_time}}</span>
        </div>
    </div>
    <div class="comment_content">{{comment.content}}</div>
</div>


{% endfor %}


<form action="/blog/{{blog.id}}" method="post">
    <div class="make_comments">

        <div class="comments-wrapper-foot">
            <textarea class="comment" name="comment_content"></textarea>
        </div>

        <div class="info-wrapper-foot">
            name:
            <input type="text" name="comment_name" class="comment_name">
        </div>

    </div>

    <div class="comment-submit">
        <button type="submit">添加评论</button>
    </div>

</form>


</body>
</html>