<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
</head>
<body>
<h1>欢迎登陆</h1>

<form action="/login" method="post">
    <legend>Please sign in:</legend>

    {% if name %}

    <p><input name="username" placeholder="Username" value="{{ name }}">

        {% else %}

    <p><input name="username" placeholder="Username">

        {% endif %}


    <p><input name="password" placeholder="Password" type="password"></p>

    <p>
        <button type="submit">Sign In</button>
    </p>
</form>


</body>
</html>