<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet"/>
    <script src="/static/js/jquery.min.js"></script>

    <script type="text/javascript" src="/static/js/blog.js">
    </script>

</head>
<body>


<div class="header-wrap">
    <div class="header center-container">
        <a href="/" title="美乃滋酱の个人博客" class="logo">美乃滋酱の个人博客</a>

        <div class="links">
            <a href="/archive">archive</a>
            <a href="http://wiki.hustlzp.com" target="_blank">wiki</a>
            <a href="/about.md">about</a>
            {% if session['admin']%}
            <a href="/write" target="_blank">write</a>
            {% else %}
            {% endif %}
        </div>

    </div>
</div>

{% for blog in blogs %}

<div class="post">
    <h2 class="title">
        <a href="/post/2014/03/talk-about-side-project" id="title">{{blog.name}}</a>
    </h2>

    <div class="time">
        <span class="date">{{blog.created_at}}</span>
    </div>

    <div class="post-body">
        <p>{{blog.summary}}</p>
    </div>
</div>

<div class="blank">
</div>

{% endfor %}

<div class="foot-wrap">
    <p>powered by <a href="http://flask.pocoo.org/" class="tech">flask</a></p>
</div>




</body>
</html>