<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<div class="post link-title-post">
    <h2 class="title"><a href="/post/2014/03/talk-about-side-project">业余产品开发杂谈</a>
    </h2><span class="date">October 11, 2015</span>

    <div class="post-body abstract-content">
        <div class="p_part"><p>谈三点：方向、技术、产品。</p></div>

        <div class="p_part"><p>做什么、不做什么</p></div>

        <div class="p_part"><p>精力有限，要快刀斩乱麻。</p></div>

        <div class="p_part"><p>之前的东西，保留西窗烛、Blogbar，其他的弃坑。这两个后续的开发重点都是移动端。</p></div>

        <div class="p_part"><p>新项目的话，ThatMatters......</p></div>
    </div>
</div>


</body>
</html>